#tree-view {
    display: none; 
    scrollbar-gutter: stable;
    background: $surface-darken-1;
    overflow: auto;    
    width: auto;    
    height: 100%;            
    dock: left;       
}

MarkdownApp.-show-tree #tree-view {
    display: block;        
    max-width: 50%;
}